<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942903260742-fvhmf4c4bu1ja2phmn5p5ph1o5bg71fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942903260742-fvhmf4c4bu1ja2phmn5p5ph1o5bg71fa</string>
	<key>API_KEY</key>
	<string>AIzaSyC6C270Q-tYWBiFIUxMZGC0tH2kqrLUCOs</string>
	<key>GCM_SENDER_ID</key>
	<string>942903260742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cerebrum.foodApp</string>
	<key>PROJECT_ID</key>
	<string>cerebrum-food-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cerebrum-food-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942903260742:ios:c98cd24e6887f6569ffc47</string>
	<key>DATABASE_URL</key>
	<string>https://cerebrum-food-app.firebaseio.com</string>
</dict>
</plist>